/* common */
body {
    /* background-color: #f00; */
}

/* 网站 */
.yunser-site-box {
    bottom: 8px;
    left: 40px;
}
.fixed-circle-btn {
    position: fixed;
    bottom: 8px;
    left: 40px;
    z-index: 10000000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 14px;
}
.fixed-circle-btn.active {
    color: #fff;
    background-color: rgb(110, 179, 83);
    border-color: rgb(110, 179, 83);
}
.yunser-url-box {
    bottom: 8px;
    left: 80px;
}
/* 密码管理 */
.yunser-password-box {
    bottom: 8px;
    left: 8px;
}
.yunser-password-list {
    position: fixed;
    bottom: 80px;
    left: 16px;
    z-index: 10000000;
    width: 240px;
    /* height: 300px; */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    /* overflow: hidden; */
}
.yunser-password-item {
    display: flex;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.yunser-password-title {
    /* color: #f00; */
}
.yunser-password-item:hover {
    background-color: #f9f9f9;
}
.yunser-password-manage {
    position: fixed;
    bottom: 40px;
    left: 16px;
}
/* 图片浏览 */
.yext-image-info {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000000;
    padding: 0 16px;
    background-color: #fff;
}

.yext-action-button {
    /* position: fixed;
    top: 0px;
    right: 0px; */
    /* z-index: 10000000; */
    padding: 0 16px;
    margin-left: 16px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.yext-appbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 64px;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    user-select: none;
}
.yext-appbar-title {
    /* padding-left: 16px; */
    line-height: 64px;
    font-size: 16px;
}
.yext-appbar-actions {
    display: flex;
    align-items: center;
}






.yext-selection {
    /* width: 100px; */
}
.yext-selection-list {
    display: flex;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    overflow: hidden;
    font-size: 14px;
}
.yext-selection-item {
    
}
.yext-selection-link {
    display: block;
    /* color: #f00; */
    padding: 8px 16px;
    /* border: 1px solid #f00; */
    text-decoration: none;
    color: #333;
    border-right: 1px solid #000;
    font-size: 14px;
}
.yext-selection-link:hover {
    background-color: #f1f1f1;
}
.yext-selection-link:last-child {
    border-right: none;
}

.yext-toast {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(50%);
    z-index: 1000000000000;
    padding: 0px 16px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 16px;
    line-height: 32px;
    box-sizing: border-box;
}

.yext-context-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100px;
    height: 48px;
    background-color: #f00;
}
.yext-context-menu-btn {
    width: 48px;
    height: 48px;
    background-color: #09c;
}