/* common */
body {
    /* background-color: #f00; */
}

/* 密码管理 */
.yunser-password-box {
    position: fixed;
    bottom: 8px;
    left: 8px;
    z-index: 10000000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.yunser-password-list {
    position: fixed;
    bottom: 80px;
    left: 16px;
    z-index: 10000000;
    width: 240px;
    /* height: 300px; */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    overflow: hidden;
}
.yunser-password-item {
    display: flex;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    color: #666;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.yunser-password-item:hover {
    background-color: #f9f9f9;
}